@import "tailwindcss";

:root {
  --font-cinzel: "Cinzel", serif;
  --font-inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

.font-cinzel {
  font-family: var(--font-cinzel);
}

.font-inter {
  font-family: var(--font-inter);
}